@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Nabla&display=swap');

:root 
{
    /* Vari치veis de cor*/

    --cor-principal: #390099ff;
    --cor-secundaria: #ff0054ff;
    --cor-terciaria: #9e0059ff;
    --destaque: #ff5400ff;
    --destaque-claro: #ffbd00ff;
    --preto: #172026;
    --branco: #F2F2F2;

     /* Vari치veis de cor*/

      /* Vari치veis de fonte*/

      --fonte-principal:  "Gruppo", sans-serif;
      --fonte-gigante: 100px;
      --fonte-media: 40px;
      --fonte-chamativa: "Nabla", system-ui;
      
       /* Vari치veis de fonte*/
}


* 
{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.card {
    width: 360px;
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    font-family: "Gruppo", sans-serif;
    color: var(--branco);
    font-size: 25px;
    box-shadow: var(--preto) 5px 5px;
}

.card img {
    width: 350px;
    height: 350px;



}
/*replicando banner com flex*/








/*replicando banner com flex*/

#card-container {
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-around;


}

.card button {

    width: 100%;
    padding: 5px;
    border: var(--cor-secundaria) 10px solid;
    border-radius: 0 0 15px 15px;
    font-family: "Gruppo", sans-serif;
    font-size: 20px;

}

.card:hover
{
    transform: scale(10px);
}

.banner
{

    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(6, 1fr);
    background-color: var(--destaque-claro);

}

.banner img
{

    grid-column: 2/6;
    grid-row: 2/6;
    
}

.banner .texto-foco
{
    grid-column: 4/15;
    grid-row: 3/8;
    text-align: center;
    font-family: var(--fonte-chamativa);
    font-size: var(--fonte-gigante);
}

.banner .texto-secundario
{
    grid-column: 4/15;
    grid-row: 5/6;
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: var(--fonte-media);
}

.logo-footer
{

    height: 50px;
    

}

.container-footer
{
    margin: 50px 204px 50px 204px;
}

#layer1-footer
{
    display: flex;
    justify-content: space-between;
}

footer
{
    background-color: var(--destaque);
    
}

.container-footer p a
{
    text-decoration: none;
}

/*Tela do celular*/
@media screen and (max-width: 430px)
{

    .barra-navegacao
    {

       background-color: var(--cor-principal) !important;

    }

    .banner
    {

        display: flex;
        flex-direction: column;
        width: 430px;

    }

    .container
    {

        flex-direction: column;
        align-items: center;

    }

    header
    {

        background-color: var(--cor-principal);

    }
    
}
/*Tela do celular*/